.programs__container {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    margin: 1rem 10rem;
    background-color: #fff;
}

.programCard {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    border: black solid 1px;
    box-shadow: 0 4px 2px -2px grey;
    margin: 1rem 0;
    padding: 1rem;
    background-color: white;

    &__Title {
        background-color: red;
        align-items: center;
    }

    &__Img {
        &--picture {
            width: 100%;
        }

        padding: 1rem;
    }

    &__Price {
        // background-color: yellow;
    }

    &__Description {
        // background-color: wheat;
    }

    &__Time {
        
    }

    &__MemberInfo {
        // background-color: black;
    }

    &__RegistrationLink {
        
    }

    &__Buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 1rem 0;
    }
}

.formCard {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 1rem 0;
    padding: 1rem;
    background-color: white;

    &__form {
        display: flex;
        flex-direction: column;
        flex: 1 0 auto;
    }

    &__formGroup {
        display: flex;
        flex-direction: column;
        margin: .5rem;
        padding: 1rem;

        &--coverImg {
            flex: 1 0 auto;
            justify-content: center;
            // align-items: center;
        }

        &--auth {
            display: flex;
            flex-direction: column;
            background-color: transparent;
            width: 50rem;
            margin: 2rem 0;
            border: none;
            }
        }

    &__formInput {
        padding: 1rem;
        border: solid 1px black;
        // width: 60rem;
        border-radius: 2rem;
        margin-left: 1rem;
        font-size: 2rem;
        outline: none;

        &--auth {
            padding: 1rem;
            border: solid 1px black; // width: 60rem;
            border-radius: 2rem;
            // margin-left: 1rem;
            font-size: 2rem;
            outline: none;
            width: 100%;
        }
    }

    &__auth {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__error {
        padding: 1rem;
        border: solid 2px red; // width: 60rem;
        border-radius: 2rem;
        margin-left: 1rem;
        font-size: 2rem;
        outline: none;

        &--msg {
            display: flex;
            font-size: 2rem;
            justify-content: center;
            color: red;
        }
    }

    &__hidden {
        display: none;
    }
}

.flexBtnsBox {
    display: flex;
    justify-content: space-around;
}